<section class='col=9' data-id="{{recipe.recipe._id}}">
  <h3 data-id="{{recipe._id}}">{{recipe.recipe.title}}</h3>
  <h6>{{recipe.recipe.meal}} Recipe</h6>
  <h6><strong>Difficulty:</strong> {{recipe.recipe.difficulty}}</h6>
  <h6>Ingredients:</h6>
  <ol>{{#each recipe.recipe.ingredients as |ingredient|}}
  <li>{{ingredient}}</li>
  {{/each}}</ol>
  <h6>Steps:</h6>
  <ol>{{#each recipe.recipe.steps as |step|}}
  <li>{{step}}</li>
  {{/each}}</ol>
  <button data-id="{{recipe.recipe._id}}" class="hidden-buttons show-update-recipe btn btn-secondary">Update</button>
  <button data-id="{{recipe.recipe._id}}" class="hidden-buttons delete-recipe-prompt btn btn-danger">Delete</button>
</section>
