<section class='col-11' data-id="{{recipe.recipe._id}}">
  <h3>{{recipe.recipe.title}}</h3>
  <h6>{{recipe.recipe.meal}} Recipe</h6>
  <h6><strong>Difficulty:</strong> {{recipe.recipe.difficulty}}</h6>
  <h6>Ingredients:</h6>
  <ol>{{#each recipe.recipe.ingredients as |ingredient|}}
  <li>{{ingredient}}</li>
  {{/each}}</ol>
  <h6>Steps:</h6>
  <ol>{{#each recipe.recipe.steps as |step|}}
  <li>{{step}}</li>
  {{/each}}</ol>
  <button data-id="{{recipe.recipe._id}}" class="hidden-buttons show-update-recipe btn btn-secondary">Update</button>
  <button data-id="{{recipe.recipe._id}}" class="hidden-buttons delete-recipe-prompt btn btn-danger">Delete</button>
</section>
<section data-id="{{recipe.recipe._id}}" class="comment-form-sect col-5">
  <form class="comment-form">
    <label>Like it? Hate it? Give feedback here:</label>
    <input class="comment-title" type="text" name="comment[title]" required placeholder="Title">
    <textarea name="comment[body]" required placeholder="Comment"></textarea>
    <button class="btn btn-secondary" type="submit">Post comment</button>
  </form>
</section>
