<section class='col-11' data-id="{{recipe.recipe._id}}">
  <h3>{{recipe.recipe.title}}</h3>
  <h6>{{recipe.recipe.meal}} Recipe</h6>
  <h6><strong>Difficulty:</strong> {{recipe.recipe.difficulty}}</h6>
  <h6><strong>Rating:</strong> {{average recipe.recipe.ratings}}</h6>
  <h6>Ingredients:</h6>
  <ol>{{#each recipe.recipe.ingredients as |ingredient|}}
  <li>{{ingredient}}</li>
  {{/each}}</ol>
  <h6>Steps:</h6>
  <ol>{{#each recipe.recipe.steps as |step|}}
  <li>{{step}}</li>
  {{/each}}</ol>
  <button data-id="{{recipe.recipe._id}}" class="hidden-buttons show-update-recipe btn btn-maroon">Update</button>
  <button data-id="{{recipe.recipe._id}}" class="hidden-buttons delete-recipe-prompt btn btn-danger">Delete</button>
</section>
<section class="col-5">
<h3>Comments:</h3>
{{#if recipe.recipe.comments}}
{{#each recipe.recipe.comments as |comment|}}
<hr>
<div class="comment-box">
<h4>{{comment.title}}</h4>
<p>{{comment.body}}</p>
</div>
<hr>
{{/each}}
{{else}}
<hr>
<h5>No comments yet!</h5>
<hr>
{{/if}}
</section>
<section data-id="{{recipe.recipe._id}}" class="comment-form-sect col-3 comment-sect feedback-area">
  <form data-id="{{recipe.recipe._id}}" class="comment-form">
    <label>Like it? Hate it? Comment here:</label>
    <div class="container">
    <div class="row">
    <div class="form-group col-12">
    <input class="comment-input comment-title form-control" type="text" name="comment[title]" required placeholder="Title">
    </div>
    <div class="form-group col-12">
    <textarea class="comment-input comment-body form-control" name="comment[body]" required placeholder="Comment"></textarea>
  </div>
    <div class="form-group col-8">
    <button type="submit" class="btn btn-maroon comment-btn form-control">Post comment</button>
  </div>
</div>
</div>
  </form>
</section>
<section data-id="{{recipe.recipe._id}}" class="comment-form-sect feedback-area rating-sect col-3">
  <label>Add a rating:</label>
  <hr>
  <span data-id=1 class="star">&#9734;</span>
  <span data-id=2 class="star">&#9734;</span>
  <span data-id=3 class="star">&#9734;</span>
  <span data-id=4 class="star">&#9734;</span>
  <span data-id=5 class="star">&#9734;</span>
  <hr>
  <form data-id="{{recipe.recipe._id}}" class="ratings-form">
  <input type="text" name="rating[rating]" class="rating-input">
  <button class="btn btn-maroon post-ratings">Post rating</button>
  </form>
</section>
